<div class="container col-sm-8">
    <h3 style="text-align: center;">Update item details</h3>

    <div *ngIf="alert" class="alert alert-success alert-dismissible fade show col-sm-8 mx-auto" role="alert">
        <strong>Success!</strong> Your data has been updated succesfully.
        <button (click)="cloaseAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <form class="col-sm-8 mx-auto" [formGroup]="editResto" (ngSubmit)="collection()">
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" placeholder="Enter Name" formControlName="name">
        </div>
        <div class="form-group">
            <label>Price</label>
            <input type="text" class="form-control" placeholder="Enter Price" formControlName="price">
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>